{% load url from future %}
{% load account %}
{% load analytical %}
{% load codalab_tags %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js" {% block custom_html_attributes %}{% endblock %} lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="globalsign-domain-verification" content="1lsowFdlUrrtcRyvAiFS11btFe-ChVU8h2FmxHw7sD" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% block meta %}
    {% endblock %}

    <title>CodaLab - {% block head_title %}{% endblock %}</title>

    {% block css %}
        <!-- Included CSS Files (Compressed) -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-editable.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/select2/select2.css" />
        {% if compile_less %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imports.css">
        {% else %}
            <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/imports.less">
            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
        {% endif %}

        <script src="{{ STATIC_URL }}js/vendor/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock css %}

    {% block extra_headers %}
    {% endblock extra_headers %}

    {% analytical_head_top %}
    {% analytical_head_bottom %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}


    <script type="text/javascript">

    </script>
</head>

<body {% block custom_body_attributes %}{% endblock %}>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block title %}
                    <a class="navbar-brand" href="/" tabIndex=1 target="_self"><img src="{{STATIC_URL}}img/codalab-logo.png" alt="Home"></a>
                {% endblock title %}
            </div>
            {% block top_bar_right_menus %}
                <div class="collapse navbar-collapse" id="navbar_collapse">
                    {% if BETA %}
                        <form action="/search" method="get" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" name="q" type="search" placeholder="Search">
                            </div>
                        </form>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if ENABLE_COMPETITIONS %}
                          <li class="{% active request '/my/' %}">
                              {% if user.is_authenticated %}
                                  <a href="/my">My Competitions</a>
                              {% else %}
                                  <a href="/competitions/">Search Competitions</a>
                              {% endif %}
                          </li>
                          <li class="{% active request '/my/' %}">
                          {% if not user.is_authenticated %}
                          <a href="{% url 'account_login' %}?next={{request.path}}" target="_self">My Competitions</a>
                          {% endif %}
                          </li>
                        {% endif %}
                        <li>
                            <a href="https://github.com/codalab/codalab-competitions/wiki" target="_blank">Help</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="dropdown {% active request '/accounts/' %}">
                                <a href="{% url 'user_settings' %}">
                                    <img src="{{ STATIC_URL }}img/icon_mini_avatar.png" class="mini-avatar" alt="{{user.username}}"> {{user.username}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'user_settings' %}">Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/accounts/password/reset/" target="_self">Change Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'account_logout' %}" target="_self">Sign Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'account_signup' %}?next={{request.path}}" target="_self">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url 'account_login' %}?next={{request.path}}" target="_self">Sign In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock top_bar_right_menus %}
        </div>
    </nav>

    {% block nosubheader %}
        {% block subheader %}
            <div class="page-header">
                <div class="container">
                    <h1>{% block page_title %}{% endblock page_title %}</h1>
                </div>
            </div>
        {% endblock subheader %}
    {% endblock nosubheader %}

    {% block hero_subheader %}
    {% endblock hero_subheader %}

    {% block content_wrapper %}
        <div class="{% if stretch_100_percent_width %}container-fluid{% else %}container{% endif %}" style="padding-bottom: 40px;">
            {% block content %}
            {% endblock content %}
        </div>
    {% endblock content_wrapper %}

    <footer class="navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/codalab/codalab/wiki/Project_About_CodaLab" target="_blank">About</a></li>
                  <li><a href="https://groups.google.com/forum/#!forum/codalabdev" target="_blank">Forum</a></li>
                  <li><a href="http://www.instant.ly/s/nLDX8/nav#p/186a0" target="_blank">Survey</a></li>
                <li><a href="https://github.com/codalab/codalab/wiki/Privacy" target="_blank">Privacy and Terms</a></li>
              <li><a>v{{ CODALAB_VERSION }}</a></li>
            </ul>
        </div>
    </footer>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/select2/select2-forked.js"></script>
    <script src="{{ STATIC_URL }}lib/jq/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}codalab.min.js"></script>

    <script type="text/javascript">
    {% block js %}
        Competition.initialize();

    {% endblock js %}
        CODAUSER = {
            username: "{{ request.user.username|safe }}",
            user_id: {{ request.user.pk|default:0 }},
            email: "{{ user.email|safe }}",
            is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
        }
    </script>
    {% block jsincludes %}
    {% endblock jsincludes %}

    {% analytical_body_top %}
    {% analytical_body_bottom %}

</body>
</html>
